{{#if this.loginErrors}}
  <ul>
    {{#each this.loginErrors as |error|}}
      <li>{{error}}</li>
    {{/each}}
  </ul>
{{/if}}

Create a short link:
<form>
  <select selected onchange={{action (mut this.payload.domain) value='target.value'}}>
    {{#each this.domains as |domain|}}
      <option value={{domain}}>{{domain}}</option>
    {{/each}}
  </select>

  <Input
    @type="text"
    placeholder="keyword (max.: 15 chars)"
    @value={{this.payload.keyword}}
    data-test-link-url />

  <Input
    @type="text"
    placeholder="destination URL"
    @value={{this.payload.url}}
    data-test-link-url />

  {{#if this.isCreating}}
  <button {{on "click" this.submit}} type="button" disabled data-test-login-button>Create</button>
  Creating...
  {{else}}
  <button {{on "click" this.submit}} type="button" data-test-login-button>Create</button>
  {{/if}}
  {{#if this.status.ok}}
    OK
  {{else if this.status.error}}
    Error: {{this.status.message}}
  {{/if}}
</form>
