<h1>Register</h1>
<p>
  <LinkTo @route="login" data-test-login-link>Have an account?</LinkTo>
</p>
{{#unless this.user.isValid}}
  <ul>
    {{#each this.user.errors as |error|}}
      <li>{{error.attribute}} {{error.message}}</li>
    {{/each}}
  </ul>
{{/unless}}
<form>
    <Input
      type="text"
      placeholder="Your name"
      @value={{this.username}}
      data-test-register-username />
    <Input
      type="text"
      placeholder="Email"
      @value={{this.email}}
      data-test-register-email />
    <Input
      type="password"
      placeholder="Password"
      @value={{this.password}}
      data-test-register-password />

  <button {{on "click" this.submit}} type="button" data-test-register-button>Sign up</button>
</form>